*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #333;
  overflow-x: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hamburger-container {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: rgb(136, 60, 235);
  top: -100px;
  left: -100px;
  border-radius: 50%;
  z-index: 10;
}

.container {
  position: relative;
  top: 120px;
  left: 120px;
  cursor: pointer;
}
.line {
  background-color: #eee;
  width: 40px;
  height: 5px;
  border-radius: 25px;
}
#line1,
#line3 {
  transform-origin: left;
  transition: transform 0.4s linear;
}
#line2 {
  margin-block: 10px;
  transition: opacity 0.4s linear;
}
.rotDown {
  transform: rotate(-310deg);
  transform: rotate(48.5deg);
}
.rotUp {
  transform: rotate(-48.5deg);
}
.hide {
  opacity: 0;
}

nav {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
}
ul {
  position: relative;
  list-style: none;
}
.icon {
  height: 25px;
  width: 25px;
  fill: #fff;
}
li {
  position: relative;
  height: 25px;
  margin-block: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s linear;
}
li:hover,
li:focus {
  transform: scale(1.1);
}
a {
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  margin-left: 1rem;
}

img {
  width: 100%;
}

section {
  position: relative;
  background-color: #fff;
  width: 100%;
  transition: transform 0.4s linear;
  transform-origin: 0 0;
  z-index: 8;
  padding: 4rem 2rem;
}
article {
  margin: 0 auto;
  max-width: 920px;
}
h2,
h4 {
  text-align: center;
}
h2 {
  padding-top: 2rem;
  font-size: 2rem;
}
h4 {
  margin: 1rem;
}
p {
  margin-block: 1rem;
}
.showNav {
  transform: rotate(-15deg);
}
.navHiddenIndex {
  z-index: -1;
}
